* {
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

body {
    box-sizing: border-box;
    margin: 0;
}

.flex {
    display: flex
}

.navbar {
    justify-content: space-between;
    align-items: center;
    margin: 0;
    height: 100px;
    background-color: white;
    box-shadow: 0px 5px 12px 2px lightgray;
}

.navbar .logo {
    height: 100px;
    width: 100px;
    cursor: pointer;
    margin-left: 10px;
}

.navbar ul {
    margin: 0;
    display: flex;
    list-style: none;
}

.navbar ul li {
    margin: 0;
    margin-right: 20px;
}

.navbar ul li a {
    text-decoration: none;
    font-size: 18px;
    color: gray;
    font-weight: 400;
}

.navbar ul li a:hover {
    border-bottom: 2px solid gray;
    animation: ease-in-out;
}

.main {
    /* position: absolute; */
    margin: 100px 20px;
    /* background-color: lightgray; */
    width: calc(100% - 20px);
    height: 1000px;
}

.footer {
    background-color: black;
    color: white;
    padding-top: 45px;
    height: 350px;
    width: 100%; 
    top: 100%;
    position: absolute;
    justify-content: space-around;
}

.footer img {
    width: 300px;
    height: 300px;
    margin: 0;
}

.footer ul {
    list-style: none;
    margin: 0px;
}

.footer ul li {
    margin: 10px;
}

.footer ul li a {
    color: white;
    text-decoration: none;
}

.footer ul li a:hover {
    color: skyblue;
}
.footer .details{
    text-align: right;
    margin-left: calc(100% - 1100px);
    margin: 0;
}
.footer .details li .filter{
    filter: invert();
    width: 20px;
    height: 20px;
}
.footer .details li{
    align-items: center;
    text-align: right;
    margin-right: 50px;
}
.footer .details li img{
    margin-left: 10px;
}
.footer .details li p, address{
    text-align: right;
}

.footer .details .right{
    justify-content: end;
}








